.reset-password-container {

    .reset-password-instructions {
        margin-top: 30px;

        p {
            margin-top: 20px;
        }
    }

    .reset {
        width: 100%;
        margin-top: 20px;
    }
}